# Supabase — copia estos valores desde tu proyecto (Dashboard > Project Settings > API)
VITE_SUPABASE_URL=https://kyaffjvvncznmafsvjbq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5YWZmanZ2bmN6bm1hZnN2amJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0MjMyMzksImV4cCI6MjEwNDk5OTIzOX0.94UGHfB0WqjG8-9FJjqCF2cco8pqylEPHSUp6xxZGuQ
